<div class="post bg-dark" >
  <div class="row">
    <div class="col-10" (click)="navigateToPost(post!.id)"><h2>{{ post?.title }}</h2></div>
    <div class="col-2 d-flex flex-row-reverse">
      <div class="dropdown" *ngIf="post?.authorId === userId">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="deletePost()">Borrar</a></li>
        </ul>
      </div>
    </div>
  </div>

  <p>{{ post?.body }}</p>
  <div class="post-details">
      <span>Creado por: {{ post?.authorId }}</span> |
      <span>Comentarios: n</span> |
      <span>Publicado: {{ post?.creationDate | date }}</span>
  </div>
</div>
