<body>
  <div class="post-container">
    <h1>Publicar Nuevo Post</h1>
    <form [formGroup]="createPostForm" (ngSubmit)="submit()">
      <div class="form-group" >
        <label for="post-title">Título del Post</label>
        <input type="text" class="bg-dark" id="post-title" name="title" formControlName="title" maxlength="300">
      </div>
      <div class="form-group">
        <label for="post-content">Contenido del Post</label>
        <app-tagging [textAreaControl]="bodyControl" (contentChange)="updatePostBody($event)"></app-tagging>
        <textarea id="post-content" class="bg-dark" name="content" rows="10" formControlName="body" maxlength="5000"></textarea>
      </div>
      <div *ngIf="selectedFiles.length > 0" class="mb-3">
        <p>Archivos Seleccionados</p>
        <hr>
        <app-file-badge *ngFor="let file of selectedFileDTOs; let i = index" [file]="file" [canModify]="true" (removeEvent)="removeFile(i)"></app-file-badge>

      </div>

      <div class="file-upload-wrapper">
        <label for="file-upload" class="file-upload-label">
          Seleccionar archivos
        </label>
        <input type="file" (change)="onFileChange($event)" id="file-upload" class="file-upload-input" [disabled]="selectedFiles.length >= 3" accept=".pdf, .xlsx, .docx, .jpg, .jpeg">

        <!-- Small circle with ? inside it -->
        <div class="tooltip-wrapper">
          <div class="tooltip-circle">?</div>
          <span class="tooltip-text">Solo se pueden subir hasta 3 archivos<br>Formatos permitidos: pdf, xlsx, docx, jpg, jpeg</span>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button type="submit" [disabled]="!createPostForm.valid || disableBtn">Publicar</button>
        </div>
        <div class="col-6 d-flex flex-row-reverse">
          <button type="button" (click)="goBack()">Volver atrás</button>
        </div>
        <div class="col-6">
          <p class="text-danger" *ngIf="showErr"> No se pudo publicar el post. Redirigiendo a foro...</p>
        </div>
      </div>

    </form>
  </div>
</body>
