body {
  background-color: #121212; /* Fondo oscuro */
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: #f5f5f5; /* Color de texto claro */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-container {
  background-color: #1e1e1e; /* Fondo de contenedor oscuro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
  text-align: left;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.post-container h1 {
  margin-bottom: 1em;
  font-size: 2em;
  color: #d4a373; /* Tono cálido y claro */
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1em;
  color: #f5f5f5;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #2c2c2c;
  color: #f5f5f5;
  box-sizing: border-box;
}

.form-group input:focus, .form-group textarea:focus {
  outline: none;
  border-color: #d4a373;
}

.file-upload-label {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #8c6e48; /* Fondo del botón */
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%;
}

.file-upload-label:hover {
  background-color: #725a3d; /* Color del botón al pasar el cursor */
}

.file-upload-input {
  display: none; /* Ocultar el input de archivo real */
  width: 30%;
}

button {
  background-color: #0f0f0f;
  color: #f5f5f5;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #141414; /* Un color más oscuro que #1e1e1e */
}

button:disabled {
  background-color: #3a3a3a; /* Fondo más claro para indicar deshabilitado */
  color: #a9a9a9; /* Texto gris claro */
  cursor: not-allowed; /* Cursor no permitido */
  box-shadow: none; /* Sin sombra */
  opacity: 0.6; /* Reducir opacidad */
}

@media (max-width: 600px) {
  .post-container {
    padding: 15px;
  }

  .post-container h1 {
    font-size: 1.5em;
  }
}
