<body>
  <div class="post-container">
    <h1>Editar Post</h1>
    <form [formGroup]="editPostForm" (ngSubmit)="submit()">
      <div class="form-group" >
        <label for="post-title">Título del Post</label>
        <input type="text" class="bg-dark" id="post-title" name="title" formControlName="title" maxlength="300">
      </div>
      <div class="form-group">
        <label for="post-content">Contenido del Post</label>
        <textarea id="post-content" class="bg-dark" name="content" rows="10" formControlName="body" maxlength="5000"></textarea>
      </div>
      <div class="row">
        <div class="col-6">
          <button type="submit" [disabled]="!editPostForm.valid || disableBtn">Publicar</button>
        </div>
        <div class="col-6 d-flex flex-row-reverse">
          <button type="button" (click)="goBack()">Volver atrás</button>
        </div>
        <div class="col-6">
          <p class="text-danger" *ngIf="showErr"> No se pudo publicar el post. Redirigiendo a foro...</p>
        </div>
      </div>

    </form>
  </div>
</body>
