.nav__search {
  padding: 3px;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 1300px;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.nav__search-input {
  width: 100%;
  padding: 10px 20px; /* Default padding */
  padding-left: var(--padding-left, 20px); /* Use CSS variable for dynamic padding */
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #2e2e2e;
  color: #fff;
  box-sizing: border-box;
  outline: none;
  transition: padding-left 0.3s ease, width 0.3s ease; /* Added transition for padding-left and width */
}

.nav__search-input.has-tag {
  padding-left: var(--padding-left, 20px); /* Adjusted based on dynamic padding */
}

.nav__search-input:focus {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.nav__search-input::placeholder {
  color: #cccccc;
}

.forum-tag {
  display: flex;
  align-items: center;
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 4px 8px; /* Reduced padding */
  border-radius: 12px;
  position: absolute;
  left: 10px;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.forum-tag span {
  font-size: 12px;
  margin-right: 5px; /* Space between text and button */
}

.forum-tag button {
  position: relative;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.forum-tag button:hover::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.search-results {
  position: absolute;
  background-color: #1a1a1a;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 800px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  margin-top: 8px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.result-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.result-title {
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-members {
  font-size: 0.8em;
  color: #aaaaaa;
  margin-top: 4px;
}
