<div class="nav__search">
  <div class="search-container">
    <div *ngIf="currentForum" class="forum-tag" #forumTag>
      <span>{{ currentForum.title }}</span>
      <button (click)="resetForumContext()">✕</button>
    </div>
    <input
      type="text"
      class="nav__search-input"
      [placeholder]="searchPlaceholder"
      [(ngModel)]="searchQuery"
      (input)="onSearchChange($event)"
      (keyup.enter)="onEnter()"
      #searchInput>
  </div>
  <div class="search-results" *ngIf="showResults && searchResults.length > 0">
    <div *ngFor="let result of searchResults" class="search-result-item" (click)="onResultClick(result.id)">
      <div class="result-content">
        <span class="result-title">{{ result.title }}</span>
        <span class="result-members" *ngIf="isForumDTO(result)">{{ getMemberCountText(result) }}</span>
      </div>
    </div>
  </div>
</div>
