.nav {
  background-color: #141414;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 1000;
  border-bottom: 1px solid #444;
}

.nav__container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.nav__brand {
  display: flex;
  align-items: flex-start; /* Aligns the icon higher */
  cursor: pointer;
  padding-top: 3px; /* Adjust this value to raise the icon higher */
}

.nav__icon {
  height: 40px;
  width: auto;
  margin-left: 0;
  vertical-align: middle;
}

.nav__user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.nav__user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav__user-name {
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown__toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.dropdown__menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 4px;
  z-index: 10;
}

.dropdown__menu button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown:hover .dropdown__menu {
  display: block;
}
