<nav class="nav">
  <div class="nav__container">
    <div class="nav__brand" (click)="navigateToMain()">
      <img src="assets/classmate-icon.svg" class="nav__icon" alt="ClassMate Logo">
    </div>

    <app-search></app-search>

    <div class="nav__user">
      <img [src]="userProfilePhoto" class="nav__user-avatar" alt="User Avatar">
      <span class="nav__user-name" (click)="navigateToProfile()">{{ userProfile.nickname }}</span>
      <div class="dropdown">
        <button class="dropdown__toggle">▼</button>
        <div class="dropdown__menu">
          <button (click)="logout()">Log Out</button>
        </div>
      </div>
    </div>
  </div>
</nav>
