.nav {
  background-color: #b07a57;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 0;
  margin-top: 0; /* Elimina el margen superior */
  z-index: 1000;
}

.nav__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__brand {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav__title {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  margin-right: 20px; /* Margen derecho para separar el título del botón */
}

:hover {
  cursor: pointer;
}

.nav__button {
  background-color: #8c5e3c; /* Mismo color oscuro que la barra de búsqueda */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1em;
}

.nav__button:hover {
  background-color: #7b5033; /* Un tono más oscuro para el efecto hover */
}

.nav__search {
  flex: 2;
  text-align: center;
}

.nav__search-input {
  width: 70%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #8c5e3c; /* Color de fondo oscuro */
  color: #fff; /* Color del texto */
}

.nav__search-input::placeholder {
  color: #cccccc; /* Color del placeholder */
  opacity: 1; /* Asegura que el color no se vea afectado por la opacidad */
}

.nav__user {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.nav__user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav__user-name {
  color: #fff;
  font-size: 1em;
}

.dropdown {
  position: relative;
}

.dropdown__toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.dropdown__menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 4px;
  z-index: 10;
}

.dropdown__menu button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown:hover .dropdown__menu {
  display: block;
}
