.forums-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #1e1e1e;
  color: #f5f5f5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.forums-button,
.posts-button {
  background-color: #343A40;
  color: white;
  border: none;
  border-radius: 15px; /* More rounded edges */
  padding: 8px 15px; /* Smaller size */
  font-size: 0.9em; /* Smaller font size */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 0; /* Bottom margin for spacing */
  margin-right: 5px;
  display: inline-block; /* Align to the left */
}

.forums-button:hover,
.posts-button:hover {
  background-color: #555;
}

.active-button {
  background-color: #555;
}

hr {
  border: 0;
  height: 1px;
  background-color: #444;
  margin-bottom: 15px;
}

.forum {
  background-color: #292929;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.forum h2 {
  font-size: 1.5em;
  color: #b07a57;
  cursor: pointer;
}

.forum p {
  font-size: 1em;
  color: #f5f5f5;
}

.forum-details {
  font-size: 0.9em;
  color: #8c6e48;
}

.forum h2:hover {
  text-decoration: underline;
}

#subscribe {
  padding: 10px;
  background-color: #8c6e48;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

#subscribe:hover {
  background-color: #725a3d;
}

#subscribe:disabled {
  background-color: #b48c61;
  cursor: not-allowed;
}
