body {
  background-color: #121212; /* Fondo oscuro */
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: #f5f5f5; /* Color de texto claro */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-container {
  background-color: #1e1e1e; /* Fondo de contenedor oscuro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
  text-align: left;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.post {
  margin-bottom: 20px;
}

.post h2 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #d4a373; /* Tono cálido y claro */
  max-width: 100%;
  word-wrap: break-word; /* Rompe las palabras largas */
  overflow-wrap: break-word; /* Rompe las palabras largas */
  white-space: pre-wrap;
}

.post p {
  font-size: 1em;
  margin-bottom: 10px;
}

.post-time {
  font-size: 0.8em;
  color: #b07a57; /* Tono cálido */
}

.comments-section h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #f5f5f5; /* Color de texto claro */
}



.comment-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555; /* Borde gris oscuro */
  border-radius: 5px;
  font-size: 1em;
  background-color: #292929; /* Fondo de textarea oscuro */
  color: #f5f5f5; /* Color de texto claro */
  width: 100%;
  box-sizing: border-box;
}

.comment-form button {
  padding: 10px;
  background-color: #8c6e48; /* Fondo del botón */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.comment-form button
:hover {
  background-color: #725a3d; /* Color del botón al pasar el cursor */
}

.comment-form button:disabled {

  background-color: #b48c61; /* Color de fondo cuando el botón está deshabilitado */
  cursor: not-allowed; /* Cambia el cursor a no permitido */

}

.file-upload-label {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #8c6e48; /* Fondo del botón */
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%;
}

.file-upload-label:hover {
  background-color: #725a3d; /* Color del botón al pasar el cursor */
}

.file-upload-label-disabled {
  background-color: #725a3d; /* Color del botón al pasar el cursor */
  cursor: not-allowed;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 30%;
}

.file-upload-input {
  display: none; /* Ocultar el input de archivo real */
  width: 30%;
}

.file

.badge {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em;
  background-color: #007bff;
  color: white;
  border-radius: 0.25em;
}

.badge span {
  margin-left: 0.5em;
  font-weight: bold;
}

.dropdown-menu {
  background-color: #343a40; /* Fondo oscuro */
  border: none; /* Eliminar borde predeterminado */
}

.dropdown-item {
  color: #f8f9fa; /* Color de texto claro */
  z-index: 1000;
}

.dropdown-item:disabled {
  cursor: no-drop;
}

.dropdown-item:hover {
  background-color: #495057; /* Fondo al hacer hover */
  color: #ffffff; /* Color de texto al hacer hover */
}

.dropdown-item.disabled {
  background-color: #212529; /* Fondo más oscuro */
  color: #6c757d; /* Color de texto deshabilitado */
  border: 1px solid #6c757d; /* Borde para hacer más obvio */
  pointer-events: none; /* Deshabilitar eventos de puntero */
  cursor: not-allowed; /* Mostrar cursor no permitido */
  opacity: 0.6; /* Hacer más claro para resaltar que está deshabilitado */
}

.nickname:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

@media (max-width: 600px) {
  .post-container {
      padding: 15px;
  }

  .post h2 {
      font-size: 1.3em;
  }

  .post p {
      font-size: 0.9em;
  }

  .comments-section h3 {
      font-size: 1em;
  }

  .comment h4 {
      font-size: 0.9em;
  }

  .comment p {
      font-size: 0.8em;
  }

  .comment-form label {
      font-size: 0.9em;
  }

  .comment-form textarea {
      font-size: 0.9em;
  }

  .comment-form button {
      font-size: 0.9em;
      padding: 10px 5px;
  }
}
.file-upload-wrapper {
  display: flex;
  align-items: center;
  gap: 6px; /* Adds space between the button and the circle */
}

.tooltip-wrapper {
  bottom: 15px;
  position: relative;
  display: inline-block;
}

.tooltip-circle {
  width: 14px;  /* Smaller size */
  height: 14px;  /* Smaller size */
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.7); /* Border with light opacity */
  color: rgba(255, 255, 255, 0.7); /* Slight opacity on the ? */
  text-align: center;
  line-height: 14px; /* Ensures the ? is vertically centered */
  font-weight: bold;
  font-size: 10px;  /* Smaller font */
  cursor: pointer;
  opacity: 0.5;  /* Circle opacity */
  transition: opacity 0.3s ease, border-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-circle:hover {
  opacity: 1; /* Full opacity on hover */
  border-color: #f5f5f5; /* Bright border on hover */
}

.tooltip-text {
  visibility: hidden;
  bottom: 150%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow pointing down */
  left: 50%;
  margin-bottom: 2px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
