body {
  background-color: #121212; /* Fondo oscuro */
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: #f5f5f5; /* Color de texto claro */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-container {
  background-color: #1e1e1e; /* Fondo de contenedor oscuro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
  text-align: left;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.post {
  margin-bottom: 20px;
}

.post h2 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #d4a373; /* Tono cálido y claro */
}

.post p {
  font-size: 1em;
  margin-bottom: 10px;
}

.post-time {
  font-size: 0.8em;
  color: #b07a57; /* Tono cálido */
}

.comments-section h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #f5f5f5; /* Color de texto claro */
}

.comment {
  background-color: #292929; /* Fondo de comentario oscuro */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comment h4 {
  margin-bottom: 0.5em;
  font-size: 1em;
  color: #b07a57; /* Tono cálido */
}

.comment p {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.comment-time {
  font-size: 0.8em;
  color: #8c6e48; /* Tono cálido más oscuro */
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-form label {
  margin: 10px 0 5px;
  color: #f5f5f5; /* Color de texto claro */
  text-align: left;
}

.comment-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555; /* Borde gris oscuro */
  border-radius: 5px;
  font-size: 1em;
  background-color: #292929; /* Fondo de textarea oscuro */
  color: #f5f5f5; /* Color de texto claro */
  width: 100%;
  box-sizing: border-box;
}

.comment-form button {
  padding: 10px;
  background-color: #8c6e48; /* Fondo del botón */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.comment-form button:hover {
  background-color: #725a3d; /* Color del botón al pasar el cursor */
}

@media (max-width: 600px) {
  .post-container {
      padding: 15px;
  }

  .post h2 {
      font-size: 1.3em;
  }

  .post p {
      font-size: 0.9em;
  }

  .comments-section h3 {
      font-size: 1em;
  }

  .comment h4 {
      font-size: 0.9em;
  }

  .comment p {
      font-size: 0.8em;
  }

  .comment-form label {
      font-size: 0.9em;
  }

  .comment-form textarea {
      font-size: 0.9em;
  }

  .comment-form button {
      font-size: 0.9em;
      padding: 10px 5px;
  }
}
