<body>
  <div class="profile-container">
      <div class="dropdown-container">
          <button class="dropdown-button">Opciones</button>
          <div class="dropdown-menu">
              <a (click)="navigateToEditProfile()">Editar</a>

          </div>
      </div>
      <div class="profile-picture">
          <img [src]="userProfilePhotoURL" alt="Foto de Perfil">
      </div>
      <h1>&#64;{{ userProfile.nickname }}</h1>
      <div class="user-info">
          <h2>{{ userData.firstName }} {{ userData.lastName }}</h2>
          <p>{{ userData.legajo }}</p>
          <div class="card" *ngIf="userProfile.description"  data-bs-theme="dark">
              <div class="card-body">
                  <p>{{ userProfile.description }}</p>
              </div>
          </div>
      </div>
  </div>
</body>
