<div class="row">
  <!-- Total Users Card -->
  <div class="col-md-6 mx-auto">
    <div class="card bg-dark text-light p-4 shadow-lg rounded-lg">
      <h2 class="text-center mb-4">Cantidad de Usuarios Totales</h2>
      <div class="stats-container">
        <!-- <p class="text-left total-stats">Cantidad de usuarios totales:</p> -->
        <h3 class="stats-value">{{ totalUsers }}</h3>
      </div>
    </div>
  </div>

  <!-- Active Users Card -->
  <div class="col-md-6 mx-auto">
    <div class="card bg-dark text-light p-4 shadow-lg rounded-lg">
      <h2 class="text-center mb-4">Cantidad de Usuarios Activos</h2>
      <div class="stats-container">
        <!-- <p class="text-left total-stats">Cantidad de usuarios activos (última semana):</p> -->
        <h3 class="stats-value">{{ activeUsers }}</h3>
      </div>
    </div>
  </div>
</div>
