<div class="card bg-dark text-light p-4 shadow-sm">
  <h2 class="text-center mb-4">Foros creados Respecto al Tiempo</h2>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <button class="btn btn-arrow" (click)="changeYear(currentYear - 1)">
      <i class="bi bi-chevron-left"></i>
    </button>
    <span>{{ headerText }}</span>
    <button class="btn btn-arrow" (click)="changeYear(currentYear + 1)">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>

  <!-- Paragraph moved to the left without affecting layout -->
  <p class="text-left total-forums">Cantidad de foros totales: {{ totalForums }}</p>

  <div class="chart-container">
    <canvas
      baseChart
      [data]="chartData"
      [options]="chartOptions"
      [type]="'bar'"
    ></canvas>
  </div>
</div>
