body {
  background-color: #121212; /* Fondo oscuro */
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: #f5f5f5; /* Color de texto claro */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.forum-container {
  background-color: #141414; /* Fondo de contenedor oscuro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
  text-align: left;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  word-wrap: break-word; /* Rompe las palabras largas */
  overflow-wrap: break-word; /* Rompe las palabras largas */
}

.forum-container h1 {
  margin-bottom: 1em;
  font-size: 2em;
  color: #d4a373; /* Tono cálido y claro */
  text-align: center;
}

.forum-details {
  font-size: 0.9em;
  color: #8c6e48; /* Tono cálido más oscuro */
}

.post { /* Fondo de post oscuro */
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.post h2 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #b07a57; /* Tono cálido */
}

.post p {
  font-size: 1em;
  margin-bottom: 10px;
  color: #f5f5f5; /* Color de texto claro */
}

.post-details {
  font-size: 0.9em;
  color: #8c6e48; /* Tono cálido más oscuro */
}

.post:hover {
  transform: translateY(-5px); /* Mover hacia arriba al hacer hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra al hacer hover */
  cursor: pointer;
}

.dropdown-menu {
  background-color: #343a40; /* Fondo oscuro */
  border: none; /* Eliminar borde predeterminado */
}

.dropdown-item {
  color: #f8f9fa; /* Color de texto claro */
}

.dropdown-item:hover {
  background-color: #495057; /* Fondo al hacer hover */
  color: #ffffff; /* Color de texto al hacer hover */
}

.dropdown-item.disabled {
  background-color: #212529; /* Fondo más oscuro */
  color: #6c757d; /* Color de texto deshabilitado */
  border: 1px solid #6c757d; /* Borde para hacer más obvio */
  pointer-events: none; /* Deshabilitar eventos de puntero */
  cursor: not-allowed; /* Mostrar cursor no permitido */
  opacity: 0.6; /* Hacer más claro para resaltar que está deshabilitado */
}


button {
  background-color: #0f0f0f;
  color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #141414; /* Un color más oscuro que #1e1e1e */
}

@media (max-width: 600px) {
  .forum-container {
      padding: 15px;
  }

  .forum-container h1 {
      font-size: 1.5em;
  }

  .post h2 {
      font-size: 1.3em;
  }

  .post p {
      font-size: 0.9em;
  }

  .post-details {
      font-size: 0.8em;
  }



}


