body {
  background-color: #121212; /* Fondo oscuro (negro) */
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('./assets/Sprinkle.svg');
  background-attachment: fixed;
  /*display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  color: #f5f5f5; /* Color de texto claro */
  /*background-image: url('./Sprinkle.svg'); */
  /* Otros estilos opcionales */
  background-size: cover; /* Ajusta el tamaño del fondo */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
