<div class="comment" *ngIf="!editing">
  <div class="row mb-2">
    <div class="col-10">
      <h4>#{{comment!.authorId}}</h4>
    </div>
    <div class="dropdown col-2 d-flex flex-row-reverse" *ngIf="comment?.authorId === userId">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" (click)="deleteComment()">Borrar</button></li>
        <li><button class="dropdown-item" (click)="toggleEditing()" [disabled]="comment.hasBeenEdited">Editar</button></li>
      </ul>
    </div>
  </div>

  <p [innerHTML]="comment.body | linkify"></p>

  <app-file-badge  *ngFor="let file of comment.files" [file]="file"  (downloadFileEvent)="downloadFile($eventEntity)" [canModify]="false" ></app-file-badge>
  <br>
  <div class="row">
    <div class="col-6">
      <span class="comment-time">{{ comment.creationDate | date }}</span>
    </div>
    <div class="col-6 comment-time d-flex flex-row-reverse" *ngIf="comment.hasBeenEdited">
      <em>Editado</em>
    </div>
  </div>
  <div class="row">
    <app-valoration [valoration]="commentValoration" (likeEvent)="upvoteComment()" (dislikeEvent)="downvoteComment()" (removeEvent)="removeCommentVote()"></app-valoration>
  </div>
</div>
<app-edit-comment (cancelEditing)="cancelEdition()" (editComment)="editComment($eventEntity)"  [body]="comment.body" [files]="comment.files" *ngIf="editing"></app-edit-comment>
