<div class="comment" *ngIf="!editing">
  <div class="row mb-2">
    <div class="col-10">
      <h4 (click)="navigateToUserProfile()"><span class="badge rounded-pill text-bg-warning nickname"><b>p/</b>{{comment?.author?.nickname}}</span></h4>
    </div>
    <div class="dropdown col-2 d-flex flex-row-reverse" *ngIf="comment?.author?.userId === userId || isAdmin || userRole.toString() == 'ADMIN'">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" *ngIf="comment.author.userId == userId || isAdmin || userRole.toString() == 'ADMIN'" (click)="deleteComment()">Borrar</button></li>
        <li><button *ngIf="comment.author.userId == userId" class="dropdown-item" (click)="toggleEditing()" [disabled]="comment.hasBeenEdited">Editar</button></li>
        <li><button *ngIf="!comment.reportedByUser && !(comment.author.userId == userId)" class="dropdown-item" (click)="openReportDialog()">Reportar</button></li>
      </ul>
    </div>
  </div>

  <p [innerHTML]="comment.body | linkify"></p>

  <app-file-badge  *ngFor="let file of comment.files" [file]="file"  (downloadFileEvent)="downloadFile($event)" [canModify]="false" ></app-file-badge>
  <br>
  <div class="row">
    <div class="col-6">
      <span class="comment-time">{{ comment.creationDate | date }}</span>
    </div>
    <div class="col-6 comment-time d-flex flex-row-reverse" *ngIf="comment.hasBeenEdited">
      <em>Editado</em>
    </div>
    <div class="col-12 comment-time d-flex flex-row-reverse mt-2" *ngIf="comment.reportedByUser">
      <em>Reportado</em>
    </div>

  </div>
  <div class="row">
    <app-valoration [valoration]="commentValoration" (likeEvent)="upvoteComment()" (dislikeEvent)="downvoteComment()" (removeEvent)="removeCommentVote()"></app-valoration>
  </div>
  <app-report-message *ngIf="deleteRequests" [deleteRequests]="deleteRequests!"></app-report-message>
</div>
<app-edit-comment (cancelEditing)="cancelEdition()" (editComment)="editComment($event)"  [body]="comment.body" [files]="comment.files" *ngIf="editing"></app-edit-comment>
