.comment {
  background-color: #292929; /* Fondo de comentario oscuro */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 100%;
  word-wrap: break-word; /* Rompe las palabras largas */
  overflow-wrap: break-word; /* Rompe las palabras largas */
}

.comment h4 {
  margin-bottom: 0.5em;
  font-size: 1em;
  color: #b07a57; /* Tono cálido */
}

.comment p {
  font-size: 0.9em;
  margin-bottom: 5px;
  white-space: pre-wrap;
}

.comment-time {
  font-size: 0.8em;
  color: #8c6e48; /* Tono cálido más oscuro */
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-form label {
  margin: 10px 0 5px;
  color: #f5f5f5; /* Color de texto claro */
  text-align: left;
}

.dropdown-menu {
  background-color: #343a40; /* Fondo oscuro */
  border: none; /* Eliminar borde predeterminado */
}

.dropdown-item {
  color: #f8f9fa; /* Color de texto claro */
}

.dropdown-item:hover {
  background-color: #495057; /* Fondo al hacer hover */
  color: #ffffff; /* Color de texto al hacer hover */
}

.dropdown-item.disabled {
  background-color: #212529; /* Fondo más oscuro */
  color: #6c757d; /* Color de texto deshabilitado */
  border: 1px solid #6c757d; /* Borde para hacer más obvio */
  pointer-events: none; /* Deshabilitar eventos de puntero */
  cursor: not-allowed; /* Mostrar cursor no permitido */
  opacity: 0.6; /* Hacer más claro para resaltar que está deshabilitado */
}

button{
  height: 2.5em;
}

.like-dislike {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.like-dislike .btn {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 0.8em;
  border: none;
  border-radius: 3px;
  transition: transform 0.2s, background-color 0.2s;
}

.like-dislike .btn-like {
  background-color: #343A40;
  color: #ffffff;
}

.like-dislike .btn-like:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.like-dislike .btn-dislike {
  background-color: #343A40;
  color: #ffffff;
}

.like-dislike .btn-dislike:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}

.like-dislike .counter {
  font-size: 1em;
  color: #f5f5f5;
  margin: 0 5px;
}
