.comment {
  background-color: #292929; /* Fondo de comentario oscuro */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 100%;
  word-wrap: break-word; /* Rompe las palabras largas */
  overflow-wrap: break-word; /* Rompe las palabras largas */
}

.comment h4 {
  margin-bottom: 0.5em;
  font-size: 1em;
  color: #b07a57; /* Tono cálido */
}

.comment p {
  font-size: 0.9em;
  margin-bottom: 5px;
  white-space: pre-wrap;
}

.comment-time {
  font-size: 0.8em;
  color: #8c6e48; /* Tono cálido más oscuro */
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-form label {
  margin: 10px 0 5px;
  color: #f5f5f5; /* Color de texto claro */
  text-align: left;
}

button{
  height: 2.5em;
}
