<body>
  <div class="login-container">
      <img src="assets/32x32.svg" class="logo mb-3" alt="ClassMate">

      <h2>Ingresar correo institucional</h2>
      <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">

        <input type="email" class="form-control bg-dark" id="email" aria-describedby="Email" placeholder="Correo Institucional" formControlName="email" autocomplete="off" maxlength="32">

          <div class="row">
            <div class="col-12" *ngIf="emailForm.controls['email'].errors?.['invalidEmailFormat'] && emailForm.controls['email'].touched">
              <p class="text-danger">El email ingresado no es valido</p>
            </div>
            <div class="col-12" *ngIf="emailForm.controls['email'].errors?.['required'] && emailForm.controls['email'].touched">
              <p class="text-danger">Este campo es requerido</p>
            </div>
          </div>

          <button type="submit" [disabled]="!emailForm.valid">Re establecer contraseña</button>

          <div class="col-12 mt-3">
            Volver a <a class="link-underline-secondary" [routerLink]="['']" routerLinkActive="router-link-active"  >Iniciar Sesión</a>
          </div>
      </form>

  </div>
</body>
