<div class="container mt-4">
  <!-- <h1 class="text-center text-light mb-4">La vida de ClassMate</h1> -->
  <div class="row ">
    <!-- Forum Activity Stats -->
    <div class="col-md-6 mx-auto">
      <app-forum-activity-chart></app-forum-activity-chart>
    </div>

    <!-- Forum Creation Stats -->
    <div class="col-md-6 mx-auto">
      <app-forum-creation-chart [forumData]="forumData"></app-forum-creation-chart>
    </div>
  </div>

  <!-- Users Activity Stats -->
<div class="row mt-4">
  <div class="col-md-6 d-flex align-items-stretch">
    <app-top-active-forums-stats class="flex-grow-1"></app-top-active-forums-stats>
  </div>

  <div class="col-md-6 d-flex align-items-stretch">
    <app-users-activity-stats class="flex-grow-1"></app-users-activity-stats>
  </div>

</div>

</div>
