body {
  background-color: #121212; /* Fondo oscuro (negro) */
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #f5f5f5; /* Color de texto claro */
  /* Otros estilos opcionales */

}

.login-container {
  background-color: #1e1e1e; /* Fondo de contenedor oscuro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 2em;
  color: #d4a373; /* Tono cálido y claro */
}

h2 {
  margin-bottom: 1em;
  font-size: 1.5em;
  color: #b07a57; /* Tono cálido */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  color: #f5f5f5; /* Color de texto claro */
  text-align: left;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #555; /* Borde gris oscuro */
  border-radius: 5px;
  font-size: 1em;
  background-color: #292929; /* Fondo de input oscuro */
  color: #f5f5f5; /* Color de texto claro */
  width: 100%;
  box-sizing: border-box;
}

input::placeholder{
  color: #757575;
}
input[type="text"]:focus, input[type="text"]:valid {
  background-color: #292929; /* Cambia el color de fondo cuando el input está enfocado o tiene contenido válido */
}

button {
  padding: 10px;
  background-color: #8c6e48; /* Fondo del botón */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #725a3d; /* Color del botón al pasar el cursor */
}

button:disabled,
.button-disabled {
  background-color: #b48c61; /* Color de fondo cuando el botón está deshabilitado */
  cursor: not-allowed; /* Cambia el cursor a no permitido */
}

.loader {
  position: relative;
  width: 24px; /* Reducido de 48px a 24px */
  height: 24px; /* Reducido de 48px a 24px */
}
.loader:before,
.loader:after {
  content:"";
  display: block;
  border: 16px solid transparent; /* Reducido de 32px a 16px */
  border-top-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: weld-rotate 2s infinite ease-in;
}
.loader:before {
  border-color: transparent  transparent transparent #d4a373;
  animation-delay: 0.5s;
}
@keyframes weld-rotate {
  0%, 25% {transform: rotate(0deg)}
  50%, 75% {transform: rotate(180deg)}
  100% {transform: rotate(360deg)}
}




@media (max-width: 600px) {
  .login-container {
      padding: 15px;
  }

  h1 {
      font-size: 1.5em;
  }

  h2 {
      font-size: 1.2em;
  }

  label {
      font-size: 0.9em;
  }

  input[type="text"],
  input[type="password"] {
      font-size: 0.9em;
  }

  button {
      font-size: 0.9em;
      padding: 10px 5px;
  }
}
