<body>
  <div class="chat-container">
    <div class="users-list">
      <div class="input-group mb-3" data-bs-theme="dark">
        <input type="text" (input)="onSearchChange($event)" [(ngModel)]="searchQuery" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" >
      </div>

      <div class="search-results mt-5" *ngIf="searchResults.length > 0">
        <div  class="search-result-item" *ngFor="let result of searchResults">
          <div class="result-content">
            <span class="result-title">{{ result.nickname }}</span>
            <span class="result-members" >{{ result.userId }}</span>
          </div>
        </div>
      </div>
      <div class="users-list-container">
        <h2>Chats</h2>
      </div>
    </div>
    <div class="chat-area">
      <div id="chat-messages" >
          <!-- <app-message ></app-message> -->
      </div>

      <form id="messageForm" name="messageForm" >
          <div class="message-input">
              <input autocomplete="off" type="text" id="message" placeholder="Type your message...">
              <button type="submit">Send</button>
          </div>
      </form>

    </div>
  </div>
</body>
