<body>
  <div class="chat-container">
    <div class="sidebar">
      <div class="app-badge">
        <!-- <h5>ClassMate MSG</h5> -->
         <h5>ClassMate <span class="badge text-bg-secondary">MSG</span></h5>
      </div>
      <div class="users-list">
        <div class="input-group mb-3" data-bs-theme="dark">
          <input type="text" (input)="onSearchChange($event)" [(ngModel)]="searchQuery" class="form-control" placeholder="Buscar Usuarios..." aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="search-results" *ngIf="searchResults.length > 0">
          <div class="search-result-item" *ngFor="let user of searchResults" (click)="setSelectedUser(user)">
            <div class="result-content">
              <span class="result-title">{{ user.nickname }}</span>
              <span class="result-members">{{ user.userId }}</span>
            </div>
          </div>
        </div>
        <div class="users-list-container">
          <div *ngIf="knownUsers.length > 0">
            <!-- <h2>Chats</h2> -->
            <app-chat-user *ngFor="let user of knownUsers" [user]="user" [isSelected]="user.userId == selectedUser?.userId" [hasNewMessage]="newMessagesUserIds.has(user.userId)" (click)="setSelectedUser(user)"></app-chat-user>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-section" *ngIf="selectedUser != undefined">
      <div *ngIf="selectedUser" class="chat-header">
        <div class="header-content">
          <h5 id="chat-header-text">{{ selectedUser.nickname }}</h5>
        </div>
      </div>
      <div id="chat-messages" #chatMessages class="chat-messages">

        <app-chat-message *ngFor="let message of messagesList; let i = index;"
                  [isSender]="message.senderId == loggedUser.id"
                  [message]="message"
                  [showDate]="checkIfShowDate(i)">
        </app-chat-message>
      </div>
      <div class="file-section d-flex justify-content-center" *ngIf="selectedFile != undefined">
        <app-file-badge *ngIf="selectedFile != undefined" [file]="mapFileToFIleDTO(selectedFile)" [canModify]="true" (removeEvent)="removeFile()"></app-file-badge>
      </div>
      <form id="messageForm" name="messageForm" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <div class="message-input">
          <label for="file-upload-in" class="file-upload-label" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
              <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z"/>
            </svg>
          </label>
          <input type="file" class="file-upload-input" id="file-upload-in" accept=".pdf, .xlsx, .docx, .jpg, .jpeg" (change)="onFileChange($event)">
          <input autocomplete="off" type="text" id="message" formControlName="messageInput" maxlength="1500">
          <button type="submit" [disabled]="!messageForm.valid">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
              <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
            </svg>
          </button>
        </div>
      </form>
    </div>

  </div>
</body>
