<body>
  <div class="login-container">
      <img src="assets/32x32.svg" class="logo mb-2" alt="ClassMate">
      <div *ngIf="token && email && !passwordResetSuccess && !showErr">
        <h2>Re establecer contraseña</h2>
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

            <input type="password" class="form-control bg-dark mb-4" id="password" name="password" formControlName="password" placeholder="Contraseña" autocomplete="off" required>

            <div class="row" *ngIf="passwordForm.controls['password'].errors?.['required'] && passwordForm.controls['password'].touched">
              <div class="col-12">
                <p class="text-danger">Este campo es obligatorio</p>
              </div>
            </div>

            <input type="password" class="form-control bg-dark mb-4" id="rePassword" name="rePassword" formControlName="rePassword" placeholder="Repetir Contraseña" autocomplete="off" required>

            <div class="row" *ngIf="passwordForm.controls['rePassword'].errors?.['required'] && passwordForm.controls['rePassword'].touched">
              <div class="col-12">
                <p class="text-danger">Este campo es obligatorio</p>
              </div>
            </div>

            <div class="row my-1" *ngIf="passwordForm.errors?.['passwordDoesntMatch'] && passwordForm.controls['rePassword'].touched && passwordForm.controls['password'].touched">
              <div class="col-12">
                <p class="text-danger">
                  Las contraseñas no coinciden
                </p>
              </div>
            </div>

            <button type="submit">Re establecer contraseña</button>

        </form>
      </div>
      <div *ngIf="!token || !email || showErr">
        <h2>Ha ocurrido un error</h2>
      </div>
      <div *ngIf="passwordResetSuccess">
        <h2>La contraseña ha sido re establecida con éxito.</h2>
      </div>
      <div class="col-12 mt-3">
        Volver a <a class="link-underline-secondary" [routerLink]="['']" routerLinkActive="router-link-active"  >Iniciar Sesión</a>
      </div>

      <div class="col-12 mt-3">
        ¿No tenés cuenta? <a class="link-underline-secondary" [routerLink]="['/register']" routerLinkActive="router-link-active"  >Registrate</a>
      </div>


  </div>
</body>
