.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  /* border: 1px solid transparent; */

}

.user-item:hover,
.user-item.active {
  background-color: #2f2f2f;
  border-color: #0078d4;
}

.user-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  transition: none; /* Prevent any unintended scaling */
}

.user-item span {
  margin: 0 5px;
}

.new-message-indicator {
  background-color: #0078d4;
  color: white;
  border-radius: 10px;
  padding: 2px 8px;
  font-size: 12px;
  margin-left: auto;
}
