body {
  background-color: #141414; /* Fondo oscuro (negro) */
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea el contenido más arriba */
  height: 100vh;
  color: #f5f5f5; /* Color de texto claro */
  background-size: cover; /* Ajusta el tamaño del fondo */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding-top: 20px; /* Espacio superior para mayor ajuste */
}

.preferences-container {
  background-color: #141414; /* Fondo de contenedor oscuro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
  text-align: center;
  max-width: 600px;
  width: 90%;
  box-sizing: border-box;
  position: relative; /* Añadido para posicionar elementos absolutamente dentro de este contenedor */
}

/* Style the preference section */
.notification-preferences {
  margin-top: 20px;
  text-align: left;
}

.preference-item {
  margin-bottom: 10px;
}

/* Style the labels */
.preference-item label {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  color: #f5f5f5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.preference-item label:hover {
  color: #d4a373; /* Warm hover color */
}

/* Style the checkboxes */
.preference-item input[type="checkbox"] {
  appearance: none;
  background-color: #292929;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #d4a373; /* Outline color */
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.preference-item input[type="checkbox"]:checked {
  background-color: #d4a373; /* Checked color */
  border-color: #f5f5f5; /* Outline color when checked */
}

.preference-item input[type="checkbox"]:checked::after {
  content: '✓';
  display: block;
  color: #121212; /* Checkmark color */
  font-size: 1em;
  text-align: center;
  line-height: 18px; /* Align checkmark vertically */
}

/* Add transition effects */
.preference-item input[type="checkbox"]:hover {
  border-color: #f5f5f5;
}

/* From Uiverse.io by arghyaBiswasDev */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #d4a373;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

