<body>
  <div class="forums-container">
    <h1>Foros de Discusión</h1>
    <button id="btn-create-forum" class="btn create-forum-btn mb-2" (click)="navigateToCreateForum()">Crear Foro</button>
      <!-- Message display -->
  <div *ngIf="message" class="message-container">
    <p>{{ message }}</p>
  </div>

    <div class="forum" *ngFor="let forum of forums">
      <div class="row">
        <div class="col-6">
          <h2 (click)="navigateToForum(forum.id)">{{ forum.title }}</h2>
        </div>
        <div class="col-6 d-flex flex-row-reverse">
          <button id="subscribe"
                  (click)="toggleSubscription(forum.id)"
                  [disabled]="isCreator(forum.id)">
            {{ forumsSubscribed.includes(forum.id) ? 'Desuscribirse' : 'Suscribirse' }}
          </button>
        </div>
      </div>

      <p [innerHTML]="forum.description | linkify"></p>
      <span class="forum-details">Creado en {{ forum.creationDate | date }}</span>
      <br>
      <span class="forum-details" *ngIf="forum.hasBeenEdited"><em>Editado</em></span>
    </div>
  </div>
</body>
