/* @import "../../../../../node_modules/bootswatch/dist/darkly/bootstrap.min.css"; */
/* .fullCalendar {

} */


.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: -60px;
  border-radius: 20px;
  z-index: 1000;
}

.table-bordered > :not(caption) > * > * {
  border-width: 0
}



.fc-theme-bootstrap .fc-toolbar.fc-header-toolbar {
  background-color: #2c3035; /* Darker background for the toolbar */
  color: #ffffff; /* White text color */
  padding: 2%;
  margin-top: 10%;
  box-shadow: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.fc-theme-bootstrap .fc-button {
  background-color: #495057; /* Button background color */
  color: #ffffff; /* Button text color */
  border-color: #495057; /* Button border color */
}

.fc-theme-bootstrap .fc-button:hover {
  background-color: #6c757d; /* Button hover color */
  color: #ffffff; /* Button text color on hover */
  border-color: #6c757d; /* Button border color on hover */
}

.fc-theme-bootstrap td, .fc-theme-bootstrap th {
  background-color: #343a40; /* Background for table cells */
  color: #ffffff; /* Text color for table cells */
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}



/* Modal styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fc .fc-daygrid-day-frame {
  min-height: 100%;
  position: relative;
  width: 150px;
  height: 100px;
}

.fc .fc-daygrid-day-number {
  padding: 4px;
  /* right: 50%; */
  position: relative;
  z-index: 4;
  font-size: small;
}

.sync-button{
  margin-left: -260px;
  margin-top: 5px;
}

.unsync-button{
  margin-left: -260px;
  margin-top: 5px;
}
