/* .message {
  margin-bottom: 10px;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}

.message p {
  margin: 0;
}

.sender {
  background-color: #3498db;
  color: #fff;
  align-self: flex-end;
  border-radius: 15px 15px 0 15px;
}

.receiver {
  background-color: #444;
  color: #e0e0e0;
  align-self: flex-start;
  border-radius: 15px 15px 15px 0;
} */
.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 60%;
}

.message.received {
  background-color: #2a2a2a;
  align-self: flex-start;
}

.message.sent {
  background-color: #4a4a4a;
  align-self: flex-end;
}

.message p {
  margin: 0;
}
