<app-date-marker *ngIf="showDate" [date]="message.timeStamp"></app-date-marker>
<div class="message-container" [ngClass]="{'sent': isSender}">
  <div class="message" [ngClass]="{'sent': isSender, 'received': !isSender}">
    <p class="message-content" [innerHTML]="message.content| linkify">
      <!-- <span class="timestamp">{{ timestamp | date:'HH:mm' }}</span> -->
    </p>
    <br>
    <app-file-badge *ngIf="message.attachment != undefined" [file]="message.attachment" (downloadFileEvent)="downloadFile($eventEntity)"></app-file-badge>
  </div>
</div>
